body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.grid-container{
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 100px auto 50px;
    grid-template-areas:
    "header header"
    "sidebar content"
    "footer footer"
    ;
    height: 100vh;
}

header{
    grid-area: header;
    background-color: #4CAF50;
    color: #ffffff;
    text-align: center;
    font-size: 1.5rem;
}

aside{
    grid-area: sidebar;
    background-color: #f4f4f4;
    padding: 20px;
}

main{
    grid-area: content;
    background-color: #fff;
    padding: 20px;
}

footer{
    grid-area: footer;
    background-color: #ddd;
    text-align: center;
    padding: 10px;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.gallery-item{
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 20px;
    border-radius: 4px;
    box-sizing: border-box;
    flex-basis: calc(33.333% - 20px)
}