.task{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border-bottom: 1px solid #ddd;
    font-size: 16px;
}

.delete{
    cursor: pointer;
    color: red;
}

.completed{
    text-decoration: line-through;
    color: #999;
}